<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <script src="./bower_components/angular/angular.js" defer></script>
    <script src="./bower_components/web3/dist/web3.min.js" defer></script>
    
    <script src="./app.js" defer></script>
    <script src="./app/home/BlockchainService.js" defer></script>
    <script src="./app/home/HomeCtrl.js" defer></script>
</head>
<body>
    <div ng-app="DApp">
        <div ng-controller="HomeCtrl as hc">
            <div ng-init="hc.loadData()">
                <div ng-show="hc.isLoading">
                    Loading...
                </div>
                <ul ng-hide="hc.isLoading">
                    <li ng-repeat="account in hc.accounts">
                        <a href="#" ng-click="hc.getBalance(account)">address: {{account}}</a>
                    </li>
                </ul>
                <div ng-hide="hc.isLoading">
                    <input type="text" ng-model="hc.currentAddress">
                    <button ng-click="hc.getBalance(hc.currentAddress)">getBalance</button>
                    <strong>{{hc.currentBalance}}</strong>
                </div>
            </div>
            <div class="send-transaction-container">
                <span>From: </span><input type="text" ng-model="hc.transaction.from"><br>
                <span>To: </span><input type="text" ng-model="hc.transaction.to"><br>
                <span>Value: </span><input type="number" ng-model="hc.transaction.value"><br>
                <button ng-click="hc.sendTransaction()">Send</button>
            </div>
            <div class="contracts-container">
                <textarea ng-model="hc.contract.text">

                </textarea>
                <span>{{hc.contract.binary}}</span>
                <span>{{hc.contract.abi}}</span>
                <button ng-click="hc.compileContract()">Compile</button>
            </div>
        </div>
    </div>
</body>
</html>